*{
    padding:0;
    margin:0;
    box-sizing: border-box;
} 
#wrapper{
    // background-color: var(--black);
    max-width:960px;
    margin:0 auto;
    // font-family: 'Bangers', cursive;
    // font-family: 'Pangolin', cursive;
}