<%- include('../partials/head') %>
<!-- css for this page, no others -->
    <link rel="stylesheet" href="assets/css/index/index.css">
    <title>Gulp for test</title>
</head>
<body>
    <div id="wrapper">
        <header>
            <h1>This is for the test</h1>
        </header>
        
        <%- include('../partials/nav') %>

        <%- include('../partials/nav2') %>
        
        <footer>
            <h1>hahah</h1>
        </footer>
    </div>

<%- include('../partials/last') %>
