body{
    margin:0;
    padding:0;
}
#wrapper{
    margin:0 auto;
    max-width:1400px;
}
.space{
    height:800px;
}
.articles{
    display:flex;
    justify-content:space-around;
    margin-top:150px;
    opacity: 0;
    transform:translateY(10em); 
}
.change{
    transition: all 3s ease-in-out;
    transform:translateY(0em);
    opacity: 1;
    margin-top:0;
}
.spacer{
    height:1000px;
}
#p{
    color:blue;
    width:10%;
}
#p:hover{
    animation:width 2s forwards linear;
}

@keyframes width{
    from{
        width:10%;
        opacity:0;
    }
    to{
        padding-bottom:50%;
        width:100%;
        opavity:100%;
    }
}

footer{
    width:20%;
    height:30%;
    background-color:purple;
    border:solid 2px black;
    margin:0 auto 5% auto;
    padding:2%;
    text-align:center;
    color:cyan;
}
button{
    background-color: cyan;
    border: solid 1px purple;
}
.hover{
    animation: boxChange 2s forwards linear;
    transition: transform .5s ease-out;
}
.btn-hover{
    animation: buttonChange 2s forwards linear;
    transition: transform .5s ease-out;
}
@keyframes boxChange{
    0% {
        width:20%;
        height:30%;
        background-color: purple;
        color:cyan;
    }
    50%{
        width:50%;
        height:60%;
        background-color: cyan;
        color:purple;
    }
    100%{
        width:20%;
        height:30%;
        background-color: purple;
        color:cyan;
    }
}
@keyframes buttonChange{
    0%{
        background-color: cyan;
        border: solid 1px black;
    }
    50%{
        background-color: purple;
        color:cyan;
    }
    100%{
        background-color: cyan;
        border: solid 1px black;
    }
}