.show-ul {
  background-color: var(--dark-pink);
  padding: 5%;
  border-radius: 15px;
  margin: 10px 0;
  cursor: pointer; }

.categories {
  display: grid;
  grid-template-rows: 1fr auto;
  margin: 0 5%; }
  .categories .category {
    margin: 5% 0; }
    .categories .category h4 {
      color: #fff; }
  .categories h4 {
    display: flex;
    justify-content: space-between; }
  .categories .category-ul {
    list-style: none;
    padding-top: 10px; }
    .categories .category-ul li {
      padding: 5px 21px; }
      .categories .category-ul li a {
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        color: var(--not-background); }

.hide {
  display: none; }

.fa-ellipsis-h {
  padding-top: 5px; }
